.colaborador{ 
    width: 280px;
    padding-bottom: 32px;
}

.colaborador .cabecalho{
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.colaborador img{
    border-radius: 50%;
    bottom: -50px;
    position: relative;
    width: 100px;
}

.colaborador .rodape{
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding: 90px 0px 40px 0px;
}

.colaborador .rodape h4{
    color: #6278F7;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 8px;
}

.colaborador .rodape h5{
    color: #212121;
    font-size: 18px;
    line-height: 22px;
    padding: 0px 16px;
}