.time{
    padding: 32px;
    text-align: center;
}

.time h3{
    border-bottom: 4px solid;
    display: inline-block;
    font-size: 32px;
    padding-bottom: 8px;
}

.time .colaboradores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 32px;
}