.time{
    background-color: #D9F7E9;
    padding: 32px;
    text-align: center;
}

.time h3{
    border-bottom: 4px solid #57C278;
    display: inline-block;
    font-size: 32px;
    padding-bottom: 8px;
}